 body {
    position: relative;
    overflow-x:hidden;
    background: #f7f7fc;
    font-family: 'Roboto', sans-serif;
}

a:hover{
  color:white;
  text-decoration:none;
}

body,
html { height: 100%;} 

/* Sidebar */
 #sidebar-wrapper {
    z-index: 1000;
    height: 100%;
    width:0px;
	left: -50px;   
    overflow-y: auto;
    overflow-x: hidden;
    background: #222e3c;
    transition: all 0.5s ease;
}

.sidebar-brand {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1.15rem 1.5rem;
    display: block;
    color: #f8f9fa;
}

.navbar-nav > li > a {
    color:gray!important;
    text-transform: capitalize;
    font-size: 14px;
	  padding:10px 10px 10px 20px!important;
    display: block;
    font-weight: 400;
    position: relative;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
}

.navbar-nav > li > a.active{
    color: #e9ecef!important;
    background: linear-gradient(90deg,rgba(95, 113, 141, 0.1),rgba(59,125,221,.0875) 50%,transparent);
    border-left:4px solid white;
}

#wrapper.toggled {
    padding-left: 270px;
}



.toggled#sidebar-wrapper {
    width:270px!important;
    height: 100%;
     left: 0px;
    overflow-y:auto;
    overflow-x:hidden;
    transition: all 0.5s ease;
}

.navbar-nav li{
  display:block!important;
  margin:2px 0px;
}


.nav-item .nav-link{
    display:block;
    color:white!important;
	text-transform:capitalize;
    text-decoration: none;
    padding:6px 10px; 
    transition:0.4s ease;	
}

.navbar-nav > li > a i:before{
  margin:0px 5px 0px 0px;
  font-size:14px;
} 
/* Sidebar wrapped */


/* Main content  */
#page-content-wrapper {
    width: 100%;
	transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;

	transition: all 0.5s ease;
}

 .toggled#page-content-wrapper{
  margin-left:270px;
  transition: all 0.5s ease;
 }
 
 @media only screen and (min-width:992px){
 .toggled#page-content-wrapper{
    width:calc(100% - 270px); 
	}
 }
 /* Main content wrapped  */

 /* Cross-bar animation  */
 .nav-icon1{
    z-index: 999;
    position:relative;
    display: block;
    width:23px;
    margin:0px 30px 0px 25px;
     cursor:pointer;
    height: 25px;
  }
  
  
  .nav-icon1 span{
    position:absolute;
    top:0;
    width:100%;
    height:3px;
    cursor:pointer;
    background-color:#5d5d5d;
    left:0;
    transform:rotate(0deg);
    transition:.30s ease-in-out;
  }
  
  .nav-icon1:hover span:nth-of-type(1){
    top:-3px
  }
  
  .nav-icon1:hover span:nth-of-type(3){
    top:19px;
  }
  
  .nav-icon1 span:nth-of-type(1){
     top:0;
  }
  
  .nav-icon1 span:nth-of-type(2){
     top:8px;
  }
  
  .nav-icon1 span:nth-of-type(3){
     top:16px;
  }
  
  .nav-icon1.open span:nth-of-type(1){
  top:8px;
  transform:rotate(135deg);
  }
  
  .nav-icon1.open span:nth-of-type(2){
  top:8px;
  opacity:0;
  left:-30px;
  }
  
.nav-icon1.open span:nth-of-type(3){
  top:8px;
  transform:rotate(-135deg);
 }
 /* Cross-bar animation wrapped */

 /* Topbar */
.my-navbar{
  padding:0px;  
}

.text-gray-600 {
  color: #54565f!important;
}
.nav-link .img-profile {
  height:30px;
  width:30px;
}

.navbar-nav > li > a >i{
  font-size: 18px;
  color:#b3b3b3;
	margin:8px 0px 0px 0px;
	padding:0px;
}

.vrdiv {
  margin: 10px 0 0 10px;
}
/* Topbar wrapped */

/* First row cards */
.card {
  margin-bottom: 24px;
  box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
}


.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  text-align: center;
}
.card-title {
  font-size: 1.25rem;
  color: rgb(158, 158, 158);
  font-weight: 520;
}

.card-body h1{
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

.card:hover {
  border-style: solid;
  border-color: rgb(38, 94, 247);
  border-width: medium;  
}

.card:hover .card-body h1 {
  color: rgb(38, 94, 247);
}

.card:hover .card-title {
  color: rgb(38, 94, 247);
}
/* First row cards wrapped */

/* Second row  */
/* Graph header */
.sec-card {
  margin-bottom: 24px;
  box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
  background-color: white;
}

.gr-title {
  color: #000;
  margin: 20px 0 10px 0;
  font-weight: 900;
}

.gr-desc {
  font-size:small;  
  color: rgb(158, 158, 158);
}

.key-img {
  float: right;
  height: 25px;
}
/* Graph header wrapped */

/* Graph */
.gr-tot {
  max-width: 100%;
  height: auto;
}

.gr {
  margin: 70px 0 30px 15px;
  position: relative;
  white-space: nowrap;
}

.gr-back {
  position: absolute;
  top: 2%;
}

#gr-ver {
  margin-top: 12%;
  margin-left: 43.2%;
}
@media only screen and (max-width:600px){
  #gr-ver{
    height: 120px;
    top: 15.5%; 
    left: 28.5%;
   }

   .ver-val {
     width: 8px;
     height: auto;
   }
}
/* Graph wrapped */

/* Stats cards */
.stat-card {
  padding: 20px 0;
  margin-left: auto;
  border: rgb(204, 204, 204);
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

.stat-card h5{
  color: rgb(158, 158, 158);
}
/* Stats card wrapped */
/* Second row wrapped */

/* Final row */
.ticket-card {
  box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
  background-color: white;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

.task-card {
  box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
  background-color: white;
  margin: 0.5% 0 2% auto;
}

.task-header, .ticket-header {
  margin: 3% 2%;
}

.td-foot {
  color: rgb(158, 158, 158);
  font-size: 0.875rem;
}

.sup {
  color: rgb(82, 80, 80);
  font-weight: 600;
}

.bl-view {
  color: rgb(38, 94, 247);
  border: none;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 600;
  position: absolute;
  right: 3%;
}

.ticket-row {
  margin-left: 2%;
  padding: 2% 0;
  border-bottom: rgb(204, 204, 204);
  border-bottom-style: solid;
}

.tr-last {
  border: none;
}

.tick-stat {
  color: rgb(158, 158, 158);
  position: absolute;
  right: 3%;
}

.task-row, .tar-fir {
  border-bottom: rgb(204, 204, 204);
  border-bottom-style: solid;
  margin-left: 2%;
}

.tar-last {
  border: none;
}

.tar-fir {
  margin-top: 7%;
  color: rgb(158, 158, 158);
}

.add {
  color: rgb(82, 80, 80);
  background-color: rgb(230, 227, 227);
  border: none;
  border-radius: 10%;
  position: absolute;
  right: 3%;
}

.task-row {
  margin-top: 1%;
  padding: 1% 0;
}

.pri-ur {
  background-color: rgb(253, 211, 97);
  color: white;
  border-radius: 10%;
  border: none;
  font-size: 0.875rem;
  position: absolute;
  right: 3%;
}

.pri-new {
  background-color: rgb(65, 204, 65);
  color: white;
  border-radius: 10%;
  border: none;
  font-size: 0.875rem;
  position: absolute;
  right: 3%;
}

.pri-def {
  color: rgb(82, 80, 80);
  background-color: rgb(230, 227, 227);
  border-radius: 10%;
  border: none;
  font-size: 0.875rem;
  position: absolute;
  right: 3%;
}
/* Final row wrapped */
